$main-bg: #F4F4F2;
$main-surface: #FFFFFF;
$main-primary: #FF6633;
$main-secondary: #70C05B;
$main-primary-active: #FC5420; // TODO: bind -active to buttons :active state
$main-secondary-active: #6CC456;
$main-primary-muted: #FCD5BA;
$main-secondary-muted: #E5FFDE;
$main-bg-text: #291E0F;
$main-surface-text: #414141;

$grayscale-lightest: #F3F2F1;
$grayscale-more-light: #F8F8F8;
$grayscale-light: #BFBFBF;
$grayscale-slight-hard: #E0E0E0;
$grayscale-hard: #8F8F8F;
$grayscale-hardest: #606060;

$palette-success: #008C49;
$palette-info: #1CB9FC;
$palette-warning: #FCA21C;
$palette-error: #D80000;
$palette-error-active: #C40303;
$palette-error-muted: #FFC7C7;
$palette-on-error: #F2F2F2;
$palette-dark: #000;